{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <header>
            <p>Logged in as - {{ user }}</p>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}">Your Receipts</a>
                        </li>
                        <li>
                            <a href="{% url 'create_receipt' %}">Create</a>
                        </li>
                        <li>
                            <a href="{% url 'list_account' %}">Your Accounts</a>
                        </li>
                        <li>
                            <a href="{% url 'list_categories' %}">Your Expenses</a>
                        </li>
                        <li>
                            <a href="{% url 'create_account' %}">Create Account</a>
                        </li>
                        <li>
                            <a href="{% url 'create_category' %}">Create Category</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated is False %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
