{% extends 'base.html' %}
{% block title %}
    <title>Account Creation</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <th>
                            {{ account.number }}
                        </td>
                        <td>{{ account.receipts.all|length }}</td>
                        <tr>
                        </tr>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
