{% extends 'base.html' %}
{% block title %}
    <title>Account Creation</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="narrow-form">
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
