{% extends 'base.html' %}
{% block title %}
    <title>Expense Category Creation</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="narrow-form">
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
