{% extends 'base.html' %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as.p }}
                <label for="username">Username:</label>
                <input type="text" name="username">
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password">
                <br>
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
